<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <title>AGS-Example</title>
    <link rel="stylesheet" href="assets/style.css">
</head>
<body>
    <header class="stickyhead">
        <div class="content">
            <h1>Proof of Concept</h1>
            <h2>Gemeindeschlüssel aus PLZ und Ort ableiten</h2>

            <p>
                Für das Modellvorhaben § 64e SGB V wird die Angabe eines Teils des Gemeindeschlüssels benötigt.
                Diese Anwendung soll das Ermitteln der dazu benötigten Information anhand der Anschrift demonstrieren.
            </p>

            <p>
                Bitte geben Sie eine Postleitzahl oder den Ortsnamen ein.
            </p>

            <form action="" method="get" autocomplete="on">

                <div class="form-row">
                    <label>
                        <input type="text" name="q" value="{{ query }}" placeholder="PLZ und Ort" list="entries" oninput="updateDatalistDebounced(this.value)" />
                        <button type="submit">Abrufen</button>
                    </label>
                </div>

                <div class="infobox">
                    <p>
                        <strong>Achtung!</strong>
                        Einige Postleitzahlen werden für mehrere Ortschaften und kreisübergreifend verwendet.
                        Rufen Sie alle Postleitzahlen ab, deren Zugehörigkeit sich über mehrere Landkreise erstreckt.
                    </p>
                    <div class="centered">
                        <a class="button" href="?ma=1">Kreisübergreifend verwendete Postleitzahlen abrufen</a>
                    </div>
                </div>

                <datalist id="entries">
                    <option value="97070 Würzburg">97070 Würzburg</option>
                </datalist>

            </form>
        </div>
    </header>

    {% if multiple_assigned.len() > 0 %}
    <main>
        <h3>Folgende Postleitzahlen werden in mehreren Kreisen verwendet:</h3>
        {% for region in multiple_assigned %}
        <div class="zip-region-header"><span>Postleitzahlregion {{ region.0 }}</span><hr/></div>
        <div class="cards">
            {% for entry in region.1 %}
            <a class="button centered" href="?q={{ entry }}" title="Orte für Postleitzahl '{{ entry }}' anzeigen">{{ entry }}</a>
            {% endfor %}
        </div>
        {% endfor %}
    </main>
    {% endif %}

    {% if query.trim().len() > 0 %}
    <main>
        {% if entries.len() == 0 %}
        <h3>Es wurde nichts gefunden</h3>
        {% else if entries.len() == 1 %}
        <h3>Der folgende eindeutige Treffer wurde gefunden:</h3>
        {% else if entries.len() < 25 %}
        <h3>Es gibt {{ entries.len() }} Treffer:</h3>
        {% else %}
        <h3>Es gibt mindestens 25 Treffer:</h3>
        {% endif %}
        {% for entry in entries %}
        {% if entry.deprecated == true %}
        <div class="entry deprecated">
        {% else if entries.len() == 1 %}
        <div class="entry exact">
        {% else if entry.similarity == 100 %}
        <div class="entry">
        {% else %}
        <div class="entry similar">
        {% endif %}
            <div class="large sep">
                <div><strong class="label">Gemeindeschlüssel:</strong>
                    <span class="key">{{ entry.gemeindeschluessel }}</span>
                    <div class="float-right">
                        <a class="position" href="https://nominatim.openstreetmap.org/ui/search.html?city={{entry.ort}}&postalcode={{entry.plz}}" target="_blank" title="Ort in OpenStreetMap anzeigen"><span>{{entry.lat}} , {{entry.lon}}</span></a>
                    </div>
                </div>
                <div><strong class="label">Kreisschlüssel:</strong>
                    <span class="key">{{ entry.kreisschluessel }}</span>
                    <div class="float-right">
                        {% if entry.kreisfrei %}
                        <a class="position" href="https://nominatim.openstreetmap.org/ui/search.html?county={{entry.ort}}" target="_blank" title="Kreis in OpenStreetMap anzeigen"><span>{{entry.kreis_lat}} , {{entry.kreis_lon}}</span></a>
                        {% else %}
                        <a class="position" href="https://nominatim.openstreetmap.org/ui/search.html?county={{entry.kreis}}" target="_blank" title="Kreis in OpenStreetMap anzeigen"><span>{{entry.kreis_lat}} , {{entry.kreis_lon}}</span></a>
                        {% endif %}
                    </div>
                </div>
            </div>
            <div>
                {% if entry.similarity == 100 %}
                <strong class="label">PLZ Ort:</strong> <a href="?q={{ entry.plz }}%20{{ entry.ort }}">{{ entry.plz }} {{ entry.ort }}</a>
                {% else %}
                <strong class="label">PLZ Ort:</strong> <a href="?q={{ entry.plz }}%20{{ entry.ort }}">{{ entry.plz }} {{ entry.ort }}</a>
                <small class="grey-out">(~{{ entry.similarity }}&percnt;)</small>
                {% endif %}
            </div>
            {% if entry.kreisfrei %}
            <div class="grey-out"><strong class="label">Kreis:</strong> <i>kreisfreie Stadt</i></div>
            {% else %}
            <div>
                <strong class="label">Kreis:</strong>
                <span>{{ entry.kreis }}</span>
            </div>
            {% endif %}
            <div><strong class="label">Bundesland:</strong> {{ entry.bundesland }}</div>
            {% if entry.einwohner.as_ref().is_some() %}
            <div class="sep"></div>
            <div><strong class="label">Einwohnerzahl (Ort):</strong> {{ entry.einwohner.as_ref().unwrap() }}</div>
            {% endif %}
        </div>
        {% endfor %}
    </main>
    {% endif %}
    <script>

        Array.from(document.getElementsByClassName('key')).forEach(elem => {
            elem.innerText = [
                elem.innerText.slice(0,2),
                elem.innerText.slice(2,3),
                elem.innerText.slice(3,5),
                elem.innerText.slice(5,8)
            ].join(' ');
        });

        function debounce(func, timeout = 500) {
            let timer;
            return (...args) => {
                clearTimeout(timer);
                timer = setTimeout(() => { func.apply(this, args); }, timeout);
            }
        }

        function updateDatalist(value) {
            let url = document.location.origin + document.location.pathname;
            fetch(`${url}?q=${value.trim()}`, { headers: new Headers({ 'Accept': 'application/json' })})
                .then(res => res.json())
                .then(sug => {
                    let entriesElem = document.getElementById('entries');
                    entriesElem.innerHTML = '';
                    sug
                        .map(entry => {
                            let option = document.createElement('option');
                            option.value = `${entry['plz']} ${entry['ort']}`;
                            option.innerText = `${entry['plz']} ${entry['ort']}`;
                            return option;
                        })
                        .forEach(option => {
                            entriesElem.appendChild(option);
                        });
                });
        }

        const updateDatalistDebounced = debounce((value) => updateDatalist(value));
    </script>
</body>
</html>