:root {
    --blue: #649ed7;
    --darkblue: #44698E;

    --red: #d76464;
    --darkred: #8e4444;
}

::placeholder {
    color: darkgray;
    opacity: 1;
}

* {
    box-sizing: border-box;
    color: #333;
    text-align: justify;
    font-family: sans-serif;
}

a {
    color: var(--blue);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

body {
    margin: 0;
    font-family: sans-serif;
    background: #f5f5f5;
}

form {
    text-align: center;
}

button, a.button {
    padding: .6rem 1rem;
    border-radius: 3px;
    outline: none;
}

button, input {
    font-size: 1.2em;
}

button, a.button {
    background-color: var(--blue);
    color: white;
    border: none;
    cursor: pointer;
    display: inline-block;
}

button.medium {
    font-size: medium;
}

button:hover, a.button:hover {
    background-color: var(--darkblue);
    text-decoration: none;

    transition: background-color .1s, box-shadow .1s, box-shadow .1s;
}

button, a.button {
    box-shadow: 0 1px 2px #99a;
}

button:hover, a.button:hover {
    box-shadow: 0 2px 4px #99a;
}

.tag {
    background-color: var(--blue);
    color: white;
    border: none;
    display: inline-block;
    cursor: help;

    border-radius: .5rem;

    font-size: .9rem;
    padding: .2rem 1rem;
    font-weight: normal;
}

.tag:hover {
    text-decoration: none;
}

.tag.link:hover {
    background-color: var(--darkblue);
    transition: background-color .1s;
}

.tag.link {
    cursor: pointer;
}

.tag.warn {
    background-color: var(--red);
}

.tag.warn.link:hover {
    background-color: var(--darkred);
}

label button {
    font-size: medium;
}

label button:hover {
    box-shadow: none;
}

label:has(> input) {
    width: 100%;
    height: 3rem;
    display: flex;
    padding: 3px;
    background-color: white;

    border: 1px solid lightgray;
    border-radius: 3px;
    box-shadow: inset 1px 1px 3px lightgray;

    transition: box-shadow .1s, border .1s;
}

label:has(> input:focus) {
    box-shadow: 0 0 3px var(--blue);
    border: 1px solid var(--blue);
}

label#query:before {
    content: "PLZ und Ort";
    color: darkgray;
    font-size: 0.6rem;
    width: fit-content;
    display: block;
    position: absolute;
    margin: auto calc(.6rem + 3px);
}

label#query:has(> input:focus):before {
    color: var(--darkblue)
}

label#query:has(> input:placeholder-shown):before {
    display: none;
}

label#query button {
    box-shadow: none;
}

input {
    width: 100%;
    border: none;
    margin: 0 .6rem;
    outline: none;
}

header {
    position: sticky;
    top: 0;

    z-index: 10;

    padding: 1em 0;

    background: #eee;
    border-top: 1px solid transparent;
    border-bottom: 1px solid lightgrey;

    box-shadow: 0 1px 4px lightgrey;
}

label#state select {
    border: none;
    margin: .2rem auto;
    outline: none;
    padding: .6rem 1rem;
    width: 100%;

    border-radius: 3px;
    font-size: medium;
}

label#state button {
    margin: .2rem auto;
    width: 100%;
    text-align: center;
}

header:after {
    content: ' ';
    display: block;
    height: 1em;
}

main {
    margin: 1em auto;
    width: 600px;
}

.content {
    margin: 0 auto;
    width: 600px;
}

.entry {
    margin: .5em 0;
    padding: .5em;
    border: 1px solid lightgray;
    border-radius: 3px;
    box-shadow: 1px 1px 4px lightgray;
    background: white;
}

.entry.exact {
    border-color: #64d76e;
    background-color: rgba(100, 215, 110, 0.20);
}

.entry.deprecated {
    position: relative;
    border-color: var(--red);
    background-color: rgba(215, 100, 100, 0.2);
}

.entry.deprecated:before {
    content: "Veraltet";
    position: absolute;
    color: rgba(215, 100, 100, 0.6);
    font-size: 2.4rem;
    font-weight: bold;
    transform: translate(5rem, 2rem) rotate(-30deg);
    border: 3px solid rgba(215, 100, 100, 0.6);
    padding: 3px;
    border-radius: 0.2em;
    filter: drop-shadow(0 1px 1px white);
}

.entry.similar {
    background: repeating-linear-gradient( -45deg, #f5f5f5, #f5f5f5 5px, white 5px, white 25px );
}

.cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

.centered {
    text-align: center;
}

.form-row {
    display: flex;
    gap: 1em;
}

.label {
    width: 40%;
    display: inline-block;
}

.large {
    font-size: 1.2em;
}

.sep {
    margin: 0 0 .5em 0;
    padding-bottom: .5em;
    border-bottom: 1px dashed lightgray;
}

.grey-out * {
    color: darkgray;
}

.zip-region-header {
    display: flex;
    gap: 1em;
    margin: 1em 0;
    font-size: small;
    font-weight: bold;
}

.zip-region-header * {
    white-space: nowrap;
}

.zip-region-header hr {
    width: 100%;
    border: none;
    border-top: 1px solid lightgray;
}

.infobox {
    margin-top: 1em;
    padding: 1em;

    border: 1px solid lightgrey;
    border-radius: 3px;
    box-shadow: 1px 1px 4px lightgray;

    background-color: white;
}

.key {
    width: 6em;
    display: inline-block;
}

.float-right {
    float: right;
}

.position > span {
    vertical-align: middle;
}

.position * {
    color: var(--blue);
    font-size: small;
}

.position:before {
    content: "📍";
    color: inherit;
    width: 1.6em;
    display: inline-block;
    font-size: small;
}

.position:hover:before {
    content: "🗺";
    color: #333;
    width: 1.6em;
    display: inline-block;
    font-size: small;
}